<% content_for :head do %>
  <%= javascript_import_module_tag "chats/show" %>
<% end %>

<p style="color: green"><%= notice %></p>

<script type="text/javascript">

</script>

    <p>Volume</p>
    <input id="volume" type="range" min="0" max="1" step="0.1" value="0.5"/>

    <button onclick="webaudio_tooling_obj()">Listen to mic</button>




<%= render @chat %>

<div>
  <%= link_to "Edit this chat", edit_chat_path(@chat) %> |
  <%= link_to "Back to chats", chats_path %>

  <%= button_to "Destroy this chat", @chat, method: :delete %>
</div>
